/*******************************/
/* Paramètres généraux du site */
/*******************************/
body {
  background-image: linear-gradient(to right, grey , white);
  font-family: 'Noto Serif','Times New Roman';
  overflow-x: hidden;
}
h1 {
  font-size: 3.5rem;
  margin: 0.5rem;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    margin: 0.5rem;
  }
}
h2 {
  text-transform: uppercase;
  font-size: 3rem;
  color: #414141;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: 3px 2px 3px #7f85c9;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.8rem;
  }
}
h4 {
  font-size: 1.8rem;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  color: #cecece;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
a:hover {
  color: #edff39 !important;
}
a div {
  padding: 0.8rem;
}
p {
  width: 80%;
  margin: auto;
  font-size: 1.2rem;
}
input {
  height: 3rem;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

/*****************************************************/
/* Paramètres de la section "contenu" de chaque page */
/*****************************************************/
#content, #fiche {
  margin-top: 13rem;
  text-align: center;
  width: 100%;
}
#content li {
  display: block;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
#content img, #fiche img {
  width: 80%;
  border-radius: 2rem;
}


/************************************************/
/* Paramètres de la liste de voitures (Accueil) */
/************************************************/
.carsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.carsList li {
  background-color: #b4b4b4;
  border-radius: 3rem;
  box-shadow: 0 10px 5px grey;
  margin-bottom: 3rem;
  flex-basis: 48%;
}
@media screen and (max-width: 768px) {
  .carsList li {
    flex-basis: 100%;
  }
}
.carsList a {
  color: #414141;
}
.carsList li:hover,
.carsList li:focus {
  background-color: #7f85c9;
  color: #edff39;
}
.carsList a:hover h3,
.carsList a:focus h3 {
  color: #edff39;
}

/**************************************/
/* Paramètres des fiches de voiture   */
/**************************************/
#fiche {
  display: none;
}

.item {
  margin: auto;
  width: 80%;
  background-color: #b4b4b4;
  border-radius: 3rem;
  box-shadow: 0 10px 5px grey;
  margin-bottom: 3rem;
  padding: 1.5rem;
}
.item h3 {
  margin-top: 0;
}
.carac {
  font-weight: bold;
  font-size: 1.5rem;
}
