header {
  background-color: #7f85c9;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Noto Serif','Times New Roman';
}

.menu {
  font-size: 2.5rem;
  padding: 0 2rem 1rem 2rem;
  text-align: initial;
  margin-left: -1rem;
  width: 103%;
  text-shadow: 3px 2px 3px black;
  box-shadow: 0 10px 5px grey;
  overflow: hidden;
  box-sizing: border-box;
}

.menu a {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 768px) {
  .menu a {
    font-size: 1.8rem;
  }
}
.menu > nav > ul {
  display: flex;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.menu ul > li {
  position: relative;
}

.menu ul > li > ul {
  display: none;
  position: absolute;
  background-color: #7f85c9;
  box-shadow: 0 10px 5px grey;
  font-size: 1.5rem;
  text-transform: inherit;
  padding: 1rem;
  border-radius: 2rem;
  z-index: 1;
}

.menu ul > li > ul > li {
  display: block;
}

.menu ul > li > ul a {
  color: black;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .menu ul > li > ul a {
    font-size: 1.6rem;
  }
}
.menu nav > ul > li:hover > ul {
  display: block;
  opacity: 1;
  height: auto;
}

.active {
  color: #edff39 !important;
}
