<div id="ficheContent">
  <h2 id="titre"></h2>
  <img id="image">
  <h3 id="prix"></h3>
  <div class="item">
    <h3>Description</h3>
    <p id="description"></p>
    </div>
  <div class="item">
    <h3>Identifiant usine</h3>
    <p id="serie" class="carac"></p>
  </div>
  <div class="item">
    <h3>Moteur</h3>
    <p id="moteur" class="carac"></p>
  </div>
  <div class="item">
    <h3>Puissance</h3>
    <p id="puissance" class="carac"></p>
  </div>
  <div class="item">
    <h3>Transmission</h3>
    <p id="transmission" class="carac"></p>
  </div>
</div>
<script>
  $("#titre").text(voiture.marque + " " + voiture.modele);
  $("#image").attr("src","./images/" + voiture.nom + ".jpeg");
  $("#image").attr("title", voiture.marque + " " + voiture.modele);
  $("#image").attr("alt", voiture.marque + " " + voiture.modele);

  $("#prix").text(voiture.prix);
  $("#description").text(voiture.description);
  $("#serie").text(voiture.serie);
  $("#moteur").text(voiture.moteur);
  $("#puissance").text(voiture.puissance);
  $("#transmission").text(voiture.transmission);

  $("#fiche").append($("#ficheContent"));
  $("#fiche").show();
</script>
